<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Aページ</h1>
    <a href="/b">bページへ</a>
    <p>
      <%= @name %>
      <%= @email %>
      <%= @content %>
    </p>
  </body>
</html>
