<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>お問い合わせ一覧</h1>
  <form action="/contacts" method="POST">
    <table class="form_contact">
      <tr>
        <th>お名前</th>
        <td>
          <input type="text" name="name">
        </td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>
          <input type="text" name="email">
        </td>
      </tr>
      <tr>
        <th>お問い合わせ内容</th>
        <td>
          <textarea cols=40 rows=4 name="content"></textarea>
        </td>
      </tr>
    </table>
    <div class=submit_button_area>
      <input type="submit" name="submit" id="submit_button" value="送信">
    </div>
  </form>
</html>
